<div>
  <div>
    <h1>
      List of users
    </h1>
  </div>
</div>

<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Username
        </th>

        <th>
          Private?
        </th>

        <th>
        </th>

        <th>
        </th>

      </tr>

      <% @list_of_users.each do |a_user| %>
      <tr>
        <td>
          <%= a_user.username %>
        </td>

        <td>         
          <% if a_user.private %>
            Yes
          <% else %>
            No
          <% end %>
        </td>

        <td>
          <% if current_user != nil %>
            <% follow_request = FollowRequest.find_by(recipient_id: a_user.id, sender_id: current_user.id) %>
            <% if follow_request %>
              <% if follow_request.status == "pending" %>
                Request sent. Cancel
              <% elsif follow_request.status == "accepted" %>
                Unfollow
              <% end %>
            <% else %>
              Follow
            <% end %>
            
          <% end %>
        </td>

        <td>
          <a href="/users/<%= a_user.id %>">
            Show details
          </a>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
